<div id="appts-header">
  <h1>Your Appointments</h1>
</div>
<hr>
<div id="appt-list-div">
  <p class="appt-list">
    <strong>Location: </strong><%= @appointment.location %>
    <br>
    <strong>Month: </strong><%= @appointment.month %>
    <br>
    <strong>Day: </strong><%= @appointment.day %>
    <br>
    <strong>Time: </strong><%= @appointment.when %>
  </p>
</div>
