<div class="tagline-div">
  <!-- <img class="tagline-div" src="sleep.jpg" -->
  <h1 id="tagline">RELAX. REFRESH. RENEW.</h1>
</div>
<div class="how-it-works-div">
  <h2 id="how-urban-snooze-works">How Urban Snooze Works</h2>
  <div class="icons">
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
    <i class="fa fa-bed" aria-hidden="true"></i>
  </div>
</div>
