<div class="tagline-div">
  <!-- <img class="tagline-div" src="sleep.jpg" -->
  <h1 id="tagline">relax. refresh. renew.</h1>
</div>
<div class="how-it-works-div">
  <h2 id="how-urban-snooze-works">How Urban Snooze Works</h2>
  <strong><hr></strong>
  <br>
  <br>
  <br>
  <div class="icons">
    <div id="locate-box">
      <i class="fa fa-map-marker" aria-hidden="true"></i>
        <div class="icon-text">
          <p class="tagline-2">LOCATE</p>
          <p class="icon-text">Choose a nap pod location.</p>
        </div>
    </div>
    <div id="calendar-box">
      <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
      <div class="icon-text">
        <p class="tagline-2">SET NAPTIME</p>
        <p class="icon-text">Pick a date and time.</p>
      </div>
    </div>
    <div id="sleep-box">
      <i class="fa fa-bed" aria-hidden="true"></i>
      <div class="icon-text">
        <p class="tagline-2">SLEEP</p>
        <p class="icon-text">Enjoy a quick, restful nap.</p>
      </div>
    </div>
  </div>
</div>
