/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";

html, body {
  height: 80%;
  margin: 5px;
}
// Google Map
#map {
  height: 80%;
  max-width: 50%;
  border: 1px solid red;
  left: 25%;
  top: 25%;
}
// only background color for body
body {
  background-color: #d6d4d8;
}
// the nav bar
nav {
  background-color: white;
  padding: 20px;
  width: 100%;
  margin-top: -10px;
  position: fixed;
  box-shadow: 6px 5px 4px #a19fa3;
}
// the link in nav for home
#urban-snooze {
  color: #daaaef;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  text-align: left;
  font-size: 30px;
  bottom: 20px;
}

#urban-snooze:hover {
  color: #b988ce;
}
// the other nav links
.navbar-link {
  color: #88828c;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  float: right;
  margin-left: 30px;
  margin-right: 30px;
  position: relative;
  top: 20px;
}

.navbar-link:hover {
  color: #554b5b;
  text-decoration: none;
}
// items on the homepage
// the tagline in the first div on home page
#tagline {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  text-align: center;
}

.tagline-div {
  background-color: #ba87d1;
  padding: 140px 50px;
}
// the second div on home page
.how-it-works-div {
  position: relative;
  background-color: #ebeaed;
  padding: 80px 50px;
  height: 450px;
  z-index: -1;

}
// second div header text
#how-urban-snooze-works {
  color: #5f5863;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 35px;
}
// the icons boxes-second div home page
#locate-box, #calendar-box, #sleep-box {

}

#locate-box {
  position: relative;
  // bottom: 10px;
  margin-right: 10px;
  text-align: center;
  width: 30%;
  float: left;

}

#calendar-box {
  text-align: center;
  width: 30%;
  float: left;
}

#sleep-box {
  /*float: right;*/
  margin-left: 10px;
  text-align: center;
  width: 30%;
  float: left;
}
// the icon images in second div homepage
.icons {
  clear: both;
  font-size: 60px;
  color: #761fa8;
  max-width: 100%;
  display: inline;
}
//the text under icons-second div homepage
.tagline-2 {
  color: #761fa8;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}
.icon-text {
  font-size: 18px;
  color: #5f5863;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}


// appointments page
// "REQUST NAPTIME" HEADER
.naptime-header {
  font-family: 'Comfortaa', cursive;
  font-size: 38px;
  text-align: center;
  color: white;
  margin-top: 10px;
  background-color: #761fa8;
  }

// the header on the your appointments create page
#appts-header {
  font-family: 'Comfortaa', cursive;
  font-size: 38px;
  text-align: center;
  color: white;
  background-color: #ba87d1;
  bottom: 151px;
  padding: 30px;
}
// the div that contains the appt on appt create pg
#appt-list-div {
  background-color: #ebeaed;
  padding: 80px 50px;
  height: 250px;
}
// the text on appt create page that displays the appt
.appt-list {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #761fa8;
}
// footer...duh
footer {
  background-color: #beb4c4;
  padding: 50px;
  margin: 0 auto;
  text-align: center;
}
// div in footer for the links
#footer-div {
  display: inline;
  margin: 0 auto;
  text-align: center;
}
// the div containing social media icons
#media-links-footer-div {
  display: inline;
  margin: 0 auto;
  text-align: center;
}
// the actual icons for social media
#media-link {
  padding: 10px;
  color: #761fa8;
  text-decoration: none;
}
// the links in the footer...duh
footer {
  margin-top: 55px;
}
.footer-links {
  text-decoration: none;
  color: #111111;
  font-family: 'Comfortaa';
  margin: 0 auto;
}

.footer-links:hover {
  color: #761fa8;
  text-decoration: none;
}
