/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap";


html, body {
  height: 80%;
  margin: 5px;
}

// Google Map
#map {
  height: 80%;
  max-width: 50%;
  border: 1px solid red;
  left: 25%;
  top: 25%;
}
// the nav bar
nav {
  background-color: white;
  padding: 20px;
  width: 100%;
  margin-top: -10px;
}
// the link in nav for home
#urban-snooze {
  color: #daaaef;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  text-align: left;
}

#urban-snooze:hover {
  color: #b988ce;
}
// the other nav links
.navbar-link {
  color: #88828c;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  text-align: right;
  margin-left: 300px;
}

.navbar-link:hover {
  color: #554b5b;
}
// the tagline in the first div on home page
#tagline {
  color: white;
  font-family: 'Lobster Two', cursive;
  font-size: 60px;
  text-align: center;
}

.tagline-div {
  background-color: #ba87d1;
  padding: 100px 50px;
}
// the second div on home page
.how-it-works-div {
  background-color: #e4e3e5;
  padding: 80px 50px;
}
// second div header text
#how-urban-snooze-works {
  color: #5f5863;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 30px;
}
// the icons boxes-second div home page
#locate-box, #calendar-box, #sleep-box {
  border: 2px solid #88828c;
  border-radius: 4px;
}

#locate-box {
  /*float: left;*/
  width: 30%;
}

#calendar-box {

  width: 30%;
}

#sleep-box {
  /*float: right;*/
  width: 30%;
}
// the icon images in second div homepage
.icons {
  font-size: 60px;
  color: #761fa8 ;
  border: 2px solid black;
  display: inline;
  max-width: 100%;
}
//the text under icons-second div homepage
.icon-text {
  font-size: 18px;
  color: #5f5863;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
// footer...duh
footer {
  background-color: #beb4c4;
  padding: 50px;
}
// the links in the footer...duh
.footer-links {
  text-decoration: none;
  color: black;
  font-family: 'Comfortaa';
  margin: 0 auto;
  color: #beb4c4;
}
