/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

nav {
  background-color: white;
  padding: 20px;
  position: fixed;
  width: 100%;
  margin-top: -10px;
}

#urban-snooze {
  color: #daaaef;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
}

.navbar-link {
  color: #daaaef;
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  text-align: right;
}

#tagline {
  color: white;
  font-family: monospace;
  font-size: 60px;
  text-align: center;
}

.tagline-div {
  background-color: #ba87d1;
  padding: 100px 50px;
}

.how-it-works-div {
  background-color: white;
  padding: 80px 50px;
}

#how-urban-snooze-works {
  color: #beb4c4;
  font-family: cursive;
}

.icons {
  font-size: 60px;
  color: #beb4c4;
}
